*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
#btn{
  background-color: rebeccapurple;
  color: white;
  padding: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
#container{
  position: fixed;
  right: 10px;
  bottom: 10px;
 }
.toast{
  background-color: rebeccapurple;
  color: wheat;
  padding: 2rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

margin: 2px;
}