*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
button{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rebeccapurple;
  color: white;
  border: none;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
button.active{ transform: translateX(-100px); -webkit-transform: translateX(-100px); -moz-transform: translateX(-100px); -ms-transform: translateX(-100px); -o-transform: translateX(-100px);
}
nav{
  background-color: rebeccapurple;
  position: fixed;
  top: 0;
  right: 0;
  color: azure;
  padding: 1rem;
  height: 100vh;
  transform:translateX(100%) ;
  -webkit-transform:translateX(100%) ;
  -moz-transform:translateX(100%) ;
  -ms-transform:translateX(100%) ;
  -o-transform:translateX(100%) ;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
nav.active{ transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0);
}
nav li {
  list-style: none ;
padding: 1rem;
}
nav li a {
  
  color: white;
  text-decoration: none;
}