.container {
    /*height: 100vh;
    */
    /*display: flex;
    */
    background-color: black;
    text-align: center;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.timeid {
    font-family: consolas, monospace;
    font-size: 77px;
    color: beige;
}

.green {
    background-color: lightgreen;
    border-radius: 12px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    color: #222;
    border: 3px solid;
    font-family: consolas, monospace;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}